{% extends "layout.html.twig" %}

{% block title event.name %}

{% block content %}

    <h2 class="title">{{ event.name }}</h2>

    <div class="rsvps">
        <p class="tap-to-checkin">Tap your picture to check in.</p>

        {% for rsvp in event.rsvps %}
            <div data-user-id="{{ rsvp.id }}"
                 data-user-name="{{ rsvp.name }}"
                 class="rsvp {{ rsvp.id in checkins or rsvp.host ? 'checked_in':'not_checked_in' }}"
                 style="background-image: url('{{ rsvp.photo.photo_link|default('/img/avatar.png') }}');"

            >
                <span class="name">{{ rsvp.name }}</span>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

    <script>
        $('.not_checked_in').bind('click', function(event) {

            var params, $rsvpBlock = $(this);

            params = {
                user_id: $rsvpBlock.attr('data-user-id')
            };

            if (window.confirm("Checkin as " + $rsvpBlock.attr('data-user-name') + "?")) {
                $.post(window.location, params, function() {
                    $rsvpBlock.addClass('checked_in');
                    $rsvpBlock.removeClass('not_checked_in');
                    $rsvpBlock.unbind('click');
                }).fail(function() { alert("Error checking user in."); });
            }

        });
    </script>
{% endblock %}


{# order by alphabetical #}
