{% extends "layout.html.twig" %}

{% block title event.name %}

{% block content %}

    <h2 class="title">{{ event.name }}</h2>

    <div class="checkins">
        <p class="checkin-link"><a href="{{ path('event_checkin', {id: event.id}) }}">Checkin here</a></p>

        {% for checkin in event.rsvps if checkin.id in checkins %}
            <div class="checkin" style="background-image: url('{{ checkin.photo.photo_link|default('/img/avatar.png') }}');">
                <span class="name">{{ checkin.name|default('Y U NO HAVE NAME?') }}</span>
            </div>
        {% endfor %}
        {% if checkins is empty %}
            <p class="no-checkins">Oh noes! No checkins!</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="/js/raffler.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            Raffler.init();
            Raffler.winners = {{ winners|json_encode|raw }}
        });
    </script>
{% endblock %}
