{% extends "layout.html.twig" %}

{% block title event.name %}

{% block content %}
    <h2 class="title">{{ event.name }}</h2>

    <div class="checkins" data-winners="{{ winners|join(',') }}">
        <p class="checkin-link"><a href="{{ path('event_checkin', {eventId: event.id}) }}">Checkin here</a></p>

        {% for checkin in event.rsvps if checkin.id in checkins %}
            <div class="checkin" style="background-image: url('{{ checkin.photo.photo_link|default(asset('assets/avatar.png')) }}');">
                <span class="name">{{ checkin.name|default('Y U NO HAVE NAME?') }}</span>
            </div>
        {% endfor %}
        {% if checkins is empty %}
            <p class="no-checkins">Oh noes! No checkins!</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="{{ asset('assets/raffler.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
